.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .popup__close {
    width: 24px;
    height: 24px;
    top: -46px;
    right:4px;
}


}