.popup__content {
  display: flex;
  flex-direction: column;

  width: 430px;
  min-height: 383px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 28px 36px ;
}
.popup__content_type_success {
  min-height: 182px;
  padding: 43px 36px 51px 36px;
}
