.news-result__notf-title {
  max-width: 356px;


font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
margin: 24px auto 16px;

text-align: center;



color: #1A1B22;
}