.about__text {

font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin: 0px;
max-width: 600px;
color: #1A1B22;
}
.about__text-info {
  margin-bottom: 24px;
}

