.about__avatar {
  border-radius: 1000px;
  width: 464px;
  height: 464px;
  opacity: .9;
   margin-right: 56px;

  object-fit: cover;
}

@media all and (min-width: 766px) and (max-width:1023px) {
  .about__avatar {
    width: 232px;
    height: 232px;
 margin-top:21px;
}

}

@media all and (min-width: 420px) and (max-width:766px) {
  .about__avatar {
    width: 300px;
    height: 300px;
 margin-top:21px;
}

}