.logo__text {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif ;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
  line-height: 24px;
  margin: 0;

}
.logo__text_color_bl {
  color:#1A1B22;
}